$containerMaxWidth: 1230px;
$containerMinwidth: 320px;
$containerPadding: 15px;
$gutter: 20px;


$fontSize: 18px;
$lineHeight: 22px;
$fontfamily: 'Montserrat',
sans-serif;


$md1: $containerMaxWidth+12;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;


$logoColar:#C9AC7A;
$acentColor:#233F4B;
$darkColor: #000;
$greenColor: #27FF23;
$colorNavCabimet: #E5E5E5;
$whiteColor:#fff;
$colorFormBtn:#003D4A;