//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Подключаем переменные>=======================================================================================
@import "_vars";
//</Подключаем переменные>=======================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}



body {
  margin: 0;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $fontfamily;
  font-weight: normal;
  color: $darkColor;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}





//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.cabinet {
  display: flex;

  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: $acentColor;
    margin-bottom: 30px;

    @media (min-width:1200px) {
      padding-left: 45px;
    }

    @media (max-width:1200px) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 18px;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 51px;

    &:before {
      font-size: 37px;
      margin-right: 31px;
    }

    @media (max-width:1200px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 26px;

      &:before {
        font-size: 22px;
        margin-right: 11px;
      }
    }
  }
}


.cabinet-main {
  width: 100%;
  min-height: calc(100vh - 147px);

}

.cabinet-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width:$md3+px) {
    padding-top: 27px;
  }
}








//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "ui/_btn";
@import "blocks/_form";
@import "blocks/_profil";
@import "blocks/_cabinet-nav";
@import "blocks/_verification";
@import "blocks/_cup";


@import "blocks/_header";